.body,
div,
a,
button,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 48px;
}

p {
    text-align: center;
    margin-bottom: 100px;
}

body {
    background-color: #fff;
}

.main {
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
    font-size: 48px;
}

.phone {
    margin: 0 auto;
    width: 60%;
    height: 90px;
    line-height: 90px;
    background-color: #09bb07;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}